[SparkPost]
# For SparkPost Enterprise, set a value here
#Host = demo.api.e.sparkpost.com

# Put your API key here
Authorization = abcd

#Leave the following undefined if you want ALL event types
#You can now specify the events via command-line argument instead.
#Events = bounce,delivery,spam_complaint,out_of_band,policy_rejection,click,open,generation_failure,generation_rejection,list_unsubscribe,link_unsubscribe

#List of event attributes to map into output file CSV fields.  These can be re-ordered or entries removed.
#Can split entries across multiple lines in this file, thus:

#Properties = timestamp,type,
#  bounce_class,campaign_id

# The tool now provides options to show all the event types and event properties supported by your Sparkpost service.

# Timezone is no longer specified in .INI file - it's in the command-line arguments.